
/*
 * 
 * QUIZ GOI */
.afterreadmore
{
background-color: rgba(234, 234, 234, 0.5);
  height: 1px;
}/* qlist */ul.qz-list{	margin:0;	padding:0;	list-style: none;}.qz-categories h3{	display:inline-block;}.qz-categories p, .qz-categories h3{	margin:0;}.qz-categories{	margin:20px;}.qzc-box{	padding:10px;	margin-bottom:20px;	margin-top:20px;	background-color: #eaeaea;}/* end qlist*/.lastanswermark{	border:1px solid #ccc;}.question {	background-color: #A9DFA9;	padding: 20px;}.questionword{	font-weight:bold;}.score p{	margin:0;	text-align:center;}.correct-box p, .wrong-box p{	margin:0;	text-align:center;	margin-bottom: 20px;	}.correct-box{	padding: 20px;	background-color: rgb(169, 223, 169);	width: 50%;	text-align: center;  float: left;}.wrong-box{	padding: 20px;	background-color: rgb(223, 169, 169);	width: 50%;	text-align: center;	float: right;}.correct, .wrong{	font-size: 56px;	line-height: 56px;}.answer{  padding: 15px;  margin: 15px 0;  border: 1px solid #eaeaea;  font-size: 30px;  cursor: pointer;}.answer:hover{	border: 1px solid rgb(180, 96, 78);}.result{}.result h1{	text-align:center;	font-size:20px;		background-color: #eaeaea;}.result-right .innerright img{	border: 1px solid #eaeaea !important;	margin: 0 !important;	width:50px;	height: 50px;}.result .sociallink{	float:right;	display:block;}.result .socialtext p{	margin:0;}
.result-right{}.result-right, 
.result-left{	height:auto;}
.result-right
{	
	background: #fff;	padding: 10px;	float:right;	width:50%;
}
.result-left {
	background: #bff5bf;
	padding: 10px;
	font-size: 21px;
}
.word-container
{
	
}
.toppage-header {
	font-size: 13px;
	background-color: rgb(191, 245, 191);
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #8CC38C;
}
.toppage-header  h1{
	font-size: 13px;
	display: inline;
}
  
.vocabinformation {	
	background-color: #A9DFA9;	
	padding: 20px;
}
img.quizimg {
  background-color: white;
  border: 2px solid #2B6025;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  float: left;
  width: 150px;
}
.qz-img img {
  width: 150px;
  float: left;
  margin-right: 15px;
  background:#fff;
}
.questiontext {
  font-size: 32px;
  line-height: 32px;
}
.wordpage {
  /*margin-top: 30px;*/
}
.topic-list-ul
{
	margin:0;
}
.writeguessbutton
{
	margin-left: 20px;
}
.answer.writemode {
  cursor: auto;
}
.answer.writemode:hover {
  border: 1px solid #eaeaea;
}
.result-info-text
{
	font-size: 32px;
	line-height: 51px;
	text-align: center;
	border-bottom: 1px solid #eaeaea;
	padding: 15px 0px;
}
.result-info-word-info {
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	border-bottom: 1px solid #eaeaea;
	padding: 15px;
}
span.correctindicate {
  padding: 2px 10px;
  background-color: rgb(169, 223, 169);
  font-weight: bold;
}
span.wrongindicate {
  padding: 2px 10px;
  background-color: rgb(223, 169, 169);
  font-weight: bold;
}
.wordpage .quizheader
{
	font-size: 13px;
	background-color: rgb(191, 245, 191);
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #8CC38C;
}
.wordpage .quizheader h1
{
	font-size: 13px;
	line-height:13px;
	display: inline;
}
h1.quizheadline {
    margin: 0;
    background: none;
    padding: 0;
}
.vocabname, .vocabmode
{
	display:none;
}
img.repeat-afterquiz {
	background-size: 20%;
	width: 80px;
	float: left;
	margin: 10px;
	cursor:pointer;
}
.quizcatid{
	display:none;
}
#level-id
{
	display:none;
}
.answer-options
{
	display:none;
}
.answer-options.box-1
{
	display:block;
}
/* END QUIZ GOI */

/* QUIZ ITEMS */
#quiz-item-splash {
	width: 100%;
	display: -webkit-flex; /* Safari */
	display: flex;
}

.quiz-item {
	padding: 10px;
	background: #d3f6d7;
	-webkit-flex: 1;  /* Safari 6.1+ */
	-ms-flex: 1;  /* IE 10 */    
	flex: 1;
	max-width: 325px;
}
.inner-quiz-item-area
{
	padding: 10px;
}
.quiz-item:nth-child(1)
{
	margin-right:20px;
}
.flexcontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	/* You can set flex-wrap and
		 flex-direction individually */
	flex-direction: row;
	flex-wrap: wrap;
	/* Or do it all in one line
		with flex flow */
	flex-flow: row wrap;
	/* tweak where items line
		 up on the row
		 valid values are: flex-start,
		 flex-end, space-between,
		 space-around, stretch */
	align-content: flex-end;
}
.flexcontainer>div {
	height: 150px;
	width: 400px;
	background-color: #d3f6d7;
	margin: 3px;
}
.quiz-header-img
{
	width: 300px;
	background: black;
}
.quiz-header-img.img-in-review img
{
	opacity: 0.5;
}
.quiz-header-img.img-in-review
{
	position:relative;
}
.quiz-header-img .img-in-review-text
{
	position:absolute;
	top: 50%; left: 0; right: 0;
	text-align: center;
	font-weight: bold;
	color:white;
	opacity: 1;
}
.map-area
{
	background:#eaeaea;
	padding: 20px;
}
.map-area .level-area
{
	
}
.map-area .level-area .word
{
	padding: 5px;
	border: 1px solid #ccaaac;
}